# Prod:
flask
google-cloud-storage
python-dotenv
tensorflow==1.15.0
tensorflow-gpu==1.15.0
tensorflow-hub
numpy
bert-tensorflow
ming

# Dev:
flask
pip
setuptools
pycodestyle
autopep8
ipython
pyfakefs
pytest
