# Prod:
flask
google-cloud-storage
python-dotenv
tensorflow==1.15.0
tensorflow-gpu==1.15.0
tensorflow-hub
numpy
bert-tensorflow
ming

# Dev:
flask
pip
setuptools
pycodestyle
autopep8
ipython
pytest
pytest-env
mypy
# To install mypy in vscode, install the 'mypy' plugin and provide the 'mypyls' setting with an absolute path to your <workspace>/venv/bin/mypyls
https://github.com/matangover/mypyls/archive/master.zip#egg=mypyls[default-mypy]
